@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', 'sans-serif';

}
:root{

    --bg-color: #191f36;
    --snd-bg-color: #262840;
    --text-color: #fff;
    --main-color: #5982F4;

}
html{

    font-size: 62.5%;
    overflow-x: hidden;

}
body{

    background: var(--bg-color);
    color: var(--text-color);

}
section{

    min-height: 100vh;
    padding: 10rem 10% 2rem;

}
.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    font-size: 10rem;
    font-weight: 700;
    cursor: default;
    color: var(--text-color); 
    animation: glow 1.5s ease-in-out infinite alternate; 
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgba(173, 216, 230, 0.5), 0 0 10px rgba(173, 216, 230, 0.5), 0 0 15px rgba(173, 216, 230, 0.5);
    }
    100% {
        text-shadow: 0 0 5px rgba(173, 216, 230, 0.2), 0 0 10px rgba(173, 216, 230, 0.2), 0 0 15px rgba(173, 216, 230, 0.2);
    }
}


.navbar a{

    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;

}
.navbar a:hover, 
.navbar a :active{

    color: var(--main-color);

}
#menu-icon{

    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}
.home{

    display: flex;
    justify-content: center;
    align-items: center;

}
.home-content h3{

    font-size: 3.2rem;
    font-weight: 700;

}
.home-content h3 :nth-of-type(2){

    margin-bottom: 2rem;

}
span{

    color: var(--main-color);

}
.home-content h1{

    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;

}
.home-image img{

    border-radius: 16px;
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;

}
@keyframes floatImage {

    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
    
}
.home-content p{

    font-size: 1.6rem;

}
.social-media a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}
.social-media a:hover{

    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}
.btn{

    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .05s ease;

}
.btn:hover{

    box-shadow: none;

}

/*About me*/
.about{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);

}
.about-image img{

    width: 35vw;

}
.heading{

    text-align: center;
    font-size: 4.5rem;

}
.about-content h2{

    text-align: left;
    line-height: 1.2;

}
.about-content p{

    font-size: 1.6rem;
    margin: 2rem 0 3rem;

}
.about-content a{

    color: var(--text-color);

}
.about-content a:hover{

    color: var(--main-color);

}

/*Achievements*/
.achievements {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    margin: 20px;
    background-color: var(--bg-color);
    height: 100vh; 
    text-align: center; 
}

.achievements-label {
    font-size: 2rem; 
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px; 
}

.achievements-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    width: 80%; 
    max-width: 1200px; 
}

.achievement {
    position: relative;
    width: 30%; 
    overflow: hidden; 
    border-radius: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.achievement img {
    width: 100%; 
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.achievement:hover img {
    transform: scale(1.05); 
    filter: blur(3px); 
}

.achievement .text {
    position: absolute;
    bottom: -100%; 
    left: 50%;
    transform: translateX(-50%); 
    width: 90%; 
    text-align: center;
    background: rgba(0, 0, 0, 0.6); 
    color: white; 
    padding: 10px;
    border-radius: 10px; 
    transition: bottom 0.5s ease, opacity 0.3s ease; 
    opacity: 0; 
}

.achievement:hover .text {
    bottom: 50%; 
    transform: translate(-50%, 50%); 
    opacity: 1; 
}


/*Projects*/
  .projects {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 300px; 
    background-color: var(--snd-bg-color);
    overflow: hidden;
  }
  
  .projects::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--snd-bg-color); 
    filter: blur(10px); 
    z-index: -1; 
    backdrop-filter: blur(10px);
  }
  
  .projects h2, .projects .content p {
    text-align: center;
    color: var(--text-color); 
    z-index: 1; 
    filter: blur(4px); 
    opacity: 1; 
    transition: filter 0.3s ease, opacity 0.3s ease; 
  }
  
  .projects:hover h2, .projects:hover .content p {
    filter: blur(0);
  }
  
  .projects .content {
    text-align: center;
  }
  
  .projects .content p {
    margin-top: 10px; 
  }
  
  h2 {
    font-size: 5rem; 
    margin-bottom: 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  p {
    font-size: 2rem;
  }
    
  
/*Contact*/
.contact {
    background: var(--bg-color);
    display: flex;
    justify-content: center;   
    align-items: center;       
    flex-direction: column;    
    padding: 4rem 2rem;        
    min-height: 100vh;         
}

.contact h2 {
    margin-bottom: 3rem;
    text-align: center;
}

.contact form {
    max-width: 70rem;
    width: 100%;               
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    background: var(--text-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: 1px solid var(--text-color);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/*Footer*/
.footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);

}
.footer-text{

    font-size: 1.6rem;

}
.footer-iconTop{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--snd-bg-color);
    border-radius: .8rem;
    transition: .5s ease;

}
.footer-iconTop a:hover{

box-shadow: 0 0 1rem var(--snd-bg-color);    

}
.footer-iconTop a i{

    font-size: 2.4rem;
    color: var(--bg-color);

}


@media(max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--main-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar .active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3ren 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content{
        order: 2;
    }

    .home-image img{
        width: 90vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column;
    }

    .about-img img{
        width: 90vw;
        margin-top: 4rem;
    }

    .achievements h2{
        margin-bottom: 3rem;
    }

    .achievements-container{
        grid-template-columns: repeat(2, 1fr) ;
    }
}

@media(max-width:617px){
    .achievements-container{
        grid-template-columns: 1fr;
    }

    .home-image img{
        width: 80vw;
        margin-top: 8rem;
    }

    .about-image img{
        width: 100vw;
        margin-top: 4rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}